@import '../../cross/sass/variables';
//DESKTOP
.dashboard {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(210, 255, 236, 1);
  &__layout {
    display: flex; /* Coloca los hijos en una fila */
    width: 100%;
    height: 100vh; /* Mantiene la altura completa */
  }

  &__content {
    flex: 1; /* El contenido ocupa todo el espacio restante */
    padding: 16px;
    overflow-y: auto; /* Permite el scroll si el contenido es largo */
    background-color: rgba(210, 255, 236, 1);
  }

  &__contain-header {
    width: 78px;
    height: 22px;
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    p {
      text-decoration: underline;
    }
  }
  // &__contain-cardBlack {
  // }
  &__contain-buttons {
    margin: 16px;
    height: 106px;

    display: flex;
    flex-direction: row;
  }
  &__contain-input {
    margin: 16px;
    height: 64px;

    &::placeholder {
      background: rgba(255, 255, 255, 1);
      size: $heading-3;
    }
  }
}
//MOBILE
@media (max-width: 398px) {
  .dashboard {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto; /* Habilita el scroll solo en vertical */
    overflow-x: hidden;
    background-color: rgba(210, 255, 236, 1);
    &__layout {
      display: flex; /* Coloca los hijos en una fila */
      width: 100%;
      height: 100vh; /* Mantiene la altura completa */
    }

    &__content {
      flex: 1; /* El contenido ocupa todo el espacio restante */
      padding: 16px;
      overflow-y: auto; /* Permite el scroll si el contenido es largo */
      background-color: rgba(210, 255, 236, 1);
    }

    &__contain-header {
      width: 78px;
      height: 22px;
      margin: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      p {
        text-decoration: underline;
      }
    }
    // &__contain-cardBlack {
    // }
    &__contain-buttons {
      margin: 16px;
      height: 134px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &__contain-input {
      margin: 16px;
      height: 64px;

      &::placeholder {
        background: rgba(255, 255, 255, 1);
        size: $heading-3;
      }
    }
  }
}
