@media screen and (min-width: 835px) {
  .dashboard {
    &__layout {
      display: flex;
    }
    &__containMenuDesplegable {
      display: flex;
    }
    &__content {
      max-height: calc(100vh - 120px);
      flex: 1;
      padding: 16px 79px 0 79px;
      background-color: rgba(210, 255, 236, 1);
    }

    &__contain-card-black {
      height: 230px;
    }
  }
}
