// Definición de variables de colores
$primary-color: #0aeb8cbd;
$secondary-color: #052a2d;
$tertiary-color: #151817;
$cuartary-color: #d2ffec;

// Importación de fuentes externas
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

// Estilos para la clase .roboto-bold utilizando la fuente Roboto bold
.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

// Otras variables y estilos CSS adicionales
$font-stack: 'Roboto', sans-serif;
$heading-1: 24px;
$heading-2: 20px;
$heading-3: 16px;
$heading-4: 14px;
