@import '@domains/cross/sass/_variables.scss';

@media (max-width: 398px) {
}

@media screen and (min-width: 399px) and (max-width: 834px) {
}

@media screen and (min-width: 835px) {
  .transfer-destination {
    width: 100%;
    height: 118px;

    margin-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--destination {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p:first-child {
        color: #fff;
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      p:last-child {
        color: #fff;
        font-family: 'Open Sans';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%;
      }
    }

    &--account {
      height: 50px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__info {
      }

      p:first-child {
        color: #fff;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 18px;
      }

      p:last-child {
        color: #eeeaea;
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__button {
      width: 256px;
      height: 48px;
      display: flex;

      Button {
        width: 256px;
        height: 48px;
      }
    }
  }
}
