@use '@domains/cross/sass/variables' as *;

@media (max-width: 398px) {
  .buton {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button {
      width: 233px;
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .buton {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button {
      width: 233px;
    }
  }
}

@media screen and (min-width: 835px) {
  .buton {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button {
      width: 233px;
    }
  }
}
