@import '../../../../sass/variables';
@media (max-width: 398px) {
  .contain-avatar {
    width: 300px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--button {
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    &--menu {
      display: none;
    }
  }
}
@media screen and (min-width: 399px) and (max-width: 834px) {
  .contain-avatar {
    width: 223px;
    justify-content: end;

    &--button {
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    &--menu {
      display: none;
    }
  }
}

@media screen and (min-width: 835px) {
  .contain-avatar {
    &--button {
      width: 300px;
      height: 40px;
      display: flex;
      justify-content: space-evenly;

      margin-right: 20px;
    }
    &--menu {
      display: none;
    }
  }
}
