@import '../../../../sass/variables';

.contain-avatar {
  width: 250px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &--button {
    width: 250px;
    height: 40px;
  }
  &--menu {
    display: none;
  }
}
@media (max-width: 398px) {
  .contain-avatar {
    width: 223px;
    justify-content: end;

    &--button {
    }
    &--menu {
      display: block;
    }
  }
}
