@import '../../../../sass/variables';

.contain-avatar {
  width: 260px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 398px) {
  .contain-avatar {
    width: 240px;
    justify-content: flex-end;
    align-items: center;
  }
}
