@import '../../../sass/variables';
.prompt-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  &--container {
    margin-bottom: 16px;
  }
  &__large-Input-red {
    width: 360px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid $senary-color;
    background: $quinary-color;
    box-shadow: 0px 4px 4px 0px $tertiary-color;
    &:focus-visible {
      outline: 1px solid $senary-color;
    }
    &::placeholder {
      padding: 20px;
    }
  }
  &__large-Input-blue {
    width: 360px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid $cuartary-color;
    background: $quinary-color;
    box-shadow: 0px 4px 4px 0px $tertiary-color;
    &:focus-visible {
      outline: 2px solid $cuartary-color;
    }
    &::placeholder {
      padding: 20px;
    }
  }
  &__large-Input-black {
    width: 360px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid $tertiary-color;
    background: $quinary-color;
    color: $tertiary-color;
    font-family: $font-stack;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 134.766%; /* 24.258px */

    &::placeholder {
      padding: 20px;
    }
    &:focus-visible {
      outline: 1px solid $tertiary-color;
    }
  }

  &__small-Input-red {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid $senary-color;
    background: $quinary-color;
    box-shadow: 0px 4px 4px 0px $tertiary-color;
    &:focus-visible {
      outline: 1px solid $senary-color;
    }
    &::placeholder {
      padding: 20px;
    }
  }
  &__small-Input-blue {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid $cuartary-color;
    background: $quinary-color;
    box-shadow: 0px 4px 4px 0px $tertiary-color;
    &:focus-visible {
      outline: 1px solid $cuartary-color;
    }
    &::placeholder {
      padding: 20px;
    }
  }
  &__small-Input-black {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid $tertiary-color;
    background: $quinary-color;
    box-shadow: 0px 4px 4px 0px $tertiary-color;
    &:focus-visible {
      outline: 1px solid $tertiary-color;
    }
    &::placeholder {
      padding: 20px;
    }
  }
}
