@import '@domains/cross/sass/variables';
@media (max-width: 398px) {
  .button-profile {
    margin: 16px;
    height: 67px;
    display: inline-block; /* O block si el botón necesita expandirse completamente */
    width: 100%; /* Opcional si el botón debe ocupar todo el ancho */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &::placeholder {
      background: rgba(255, 255, 255, 1);
      size: $heading-3;
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .button-profile {
    margin: 16px;
    height: 67 px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &::placeholder {
      background: rgba(255, 255, 255, 1);
      size: $heading-3;
    }
  }
}

@media screen and (min-width: 835px) {
  .button-profile {
    margin: 16px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &::placeholder {
      background: rgba(255, 255, 255, 1);
      size: $heading-3;
    }
  }
}
