@import '@domains/cross/sass/variables';
@media (max-width: 398px) {
  .button-profile {
    margin: 16px 0px;
    height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a {
      text-decoration: none; /* Elimina subrayados del enlace */
      display: flex;
      justify-content: center; /* Alinea el contenido del enlace */
      align-items: center;

      &:hover {
        text-decoration: none; /* Agrega subrayado al pasar el mouse */
      }
    }
    &::placeholder {
      background: rgba(255, 255, 255, 1);
      size: $heading-3;
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .button-profile {
    margin: 16px 0px;
    height: 116 px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &::placeholder {
      background: rgba(255, 255, 255, 1);
      size: $heading-3;
    }
    a {
      text-decoration: none; /* Elimina subrayados del enlace */
      display: flex;
      justify-content: center; /* Alinea el contenido del enlace */
      align-items: center;

      &:hover {
        text-decoration: none; /* Agrega subrayado al pasar el mouse */
      }
    }
  }
}

@media screen and (min-width: 835px) {
  .button-profile {
    margin: 16px 0px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &::placeholder {
      background: rgba(255, 255, 255, 1);
      size: $heading-3;
    }
    a {
      text-decoration: none; /* Elimina subrayados del enlace */
      display: flex;
      justify-content: center; /* Alinea el contenido del enlace */
      align-items: center;

      &:hover {
        text-decoration: none; /* Agrega subrayado al pasar el mouse */
      }
    }
  }
}
