.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  background: var(--B---color-2, #052a2d);

  &--login-header {
    background: var(--B--Color-1, #0aeb8c);
  }

  &--containImage {
    width: 87px;
    height: 40px;
    margin-left: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &--containButton {
    width: 250px;
    height: 40px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &--login-header {
      display: none;
    }
  }
}
