@import '../../../../sass/variables';
.contain-service {
  padding: 30px;
  width: 480px;
  height: 216px;
  border-radius: 30px;
  background: $quinary-color;
  margin-left: 12px;
  &--containTitle {
    width: 417px;
    height: 54px;
  }
  &__title {
    color: $text-color-secondary;
    font-family: $font-stack;
    font-size: $heading-5;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &--containDescription {
    width: 417px;
    height: 108px;
    border-top: 2px solid $primary-color;
    padding-top: 15px;
    &__description {
      color: $tertiary-color;
      font-family: $font-stack;
      font-size: $heading-1;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
