@import '../../../../sass/variables';
.contain-service {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 500px;
  height: 224px;
  border-radius: 30px;
  background: $quinary-color;
  margin-left: 12px;

  &--containTitle {
    height: 54px;
  }
  &__title {
    color: $text-color-secondary;
    font-family: $font-stack;
    font-size: $heading-5;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &--containDescription {
    height: 108px;
    border-top: 2px solid $primary-color;
    padding-top: 15px;
    &__description {
      color: $tertiary-color;
      font-family: $font-stack;
      font-size: $heading-2;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

@media (max-width: 834px) {
  .contain-service {
    width: 500px;
    height: 246px;

    &--containTitle {
      height: 54px;
    }
    &__title {
      font-size: 40px;
    }

    &--containDescription {
      height: 108px;
      &__description {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 398px) {
  .contain-service {
    width: 360px;
    height: 190px;
    margin-left: 0px;

    &--containTitle {
      height: 50px;
    }
    &__title {
      font-size: 28px;
    }

    &--containDescription {
      height: 108px;
      &__description {
        font-size: 16px;
      }
    }
  }
}
