.button {
  font-weight: bold;
  &--large-green {
    width: 360px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--B--Color-1, #0aeb8c);
    background: var(--B--Color-1, #0aeb8c);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-left: 16px;
    margin-bottom: 20px;
  }
  &--large-black {
    width: 360px;
    height: 64px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--B---color-2, #052a2d);
    border: 2px solid var(--B--Color-1, #0aeb8c);
    /* sombra 1 */

    color: var(--B--Color-1, #0aeb8c);
    text-align: center;
    /* A - Botton 2 */
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
  &--large-grey {
    width: 360px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Color-button-gris, #cecece);
    border: 1px solid var(--B--Color-1, #cecece);
    cursor: pointer;
  }
  &--small-green {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--B--Color-1, #0aeb8c);
    background: var(--B--Color-1, #0aeb8c);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  &--small-black {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--B---color-2, #052a2d);
    border: 2px solid var(--B--Color-1, #0aeb8c);
    /* sombra 1 */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    color: var(--B--Color-1, #0aeb8c);
    text-align: center;
    /* A - Botton 2 */
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
  &--small-grey {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Color-button-gris, #cecece);
    box-shadow: 0px 4px 4px 0px #cecece;
    border: 1px solid var(--B--Color-1, #cecece);
    color: var(--A---Color-1, #201f22);
    text-align: center;
    /* A - Botton 2 */
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
  &--boton-sign-in {
    width: 99px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--B--Color-1, #0aeb8c);
    background: var(--B---color-2, #052a2d);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    color: var(--B--Color-1, #0aeb8c);
    text-align: center;
    /* A - Botton 1 */
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
  &--boton-create-account {
    width: 99px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--B--Color-1, #0aeb8c);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--B--Color-1, #0aeb8c);
    color: var(--black, #000);
    text-align: center;
    /* A - Botton 1 */
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
}
