@use '@domains/cross/sass/variables' as *;

@media (max-width: 398px) {
  .aprove {
    .title {
      height: 52px;
      border-bottom: 1px solid white;
      p {
        color: $primary-color;
        font-family: 'Open Sans';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%;
      }
    }

    &__date-amount {
      width: 277px;
      height: 50px;
      margin-top: 21px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .date {
        color: #fff;
        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .amount {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: $heading-2;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%; /* 23.536px */
      }
    }
    &__account {
      width: 277px;
      height: 50px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 31px;
      .account-label {
        color: $quinary-color;
        /* A - Text 2 */
        font-family: '$font-stack';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .account-type {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%; /* 23.536px */
      }
    }
    &__number-account {
      width: 277px;
      height: 40px;

      margin-top: 23px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .bank {
        color: $quinary-color;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .cvu {
        color: $quinary-color;
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .aprove {
    &__date-amount {
      width: 277px;
      height: 50px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .date {
        color: #fff;
        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .amount {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: $heading-2;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%; /* 23.536px */
      }
    }
    &__account {
      width: 277px;
      height: 50px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 31px;
      .account-label {
        color: $quinary-color;
        /* A - Text 2 */
        font-family: '$font-stack';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .account-type {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%; /* 23.536px */
      }
    }
    &__number-account {
      width: 277px;
      height: 40px;

      margin-top: 23px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .bank {
        color: $quinary-color;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .cvu {
        color: $quinary-color;
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

@media screen and (min-width: 835px) {
  .aprove {
    &__date-amount {
      width: 277px;
      height: 50px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .date {
        color: #fff;
        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .amount {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: $heading-2;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%; /* 23.536px */
      }
    }
    &__account {
      width: 277px;
      height: 50px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 31px;
      .account-label {
        color: $quinary-color;
        /* A - Text 2 */
        font-family: '$font-stack';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .account-type {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%; /* 23.536px */
      }
    }
    &__number-account {
      width: 277px;
      height: 40px;

      margin-top: 23px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .bank {
        color: $quinary-color;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .cvu {
        color: $quinary-color;
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
