@import '@domains/cross/sass/_variables.scss';

@media (max-width: 398px) {
  .button-add-card {
    height: 64px;

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-margin-bottom-collapse: 34px;

    &--img-title {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
      margin-bottom: 34px;
      p {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%;
      }
    }
    &--button {
      display: none;
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .button-add-card {
    height: 64px;

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-margin-bottom-collapse: 34px;

    &--img-title {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
      margin-bottom: 34px;
      p {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%;
      }
    }
    &--button {
      width: 100%;
    }
  }
}

@media screen and (min-width: 835px) {
  .button-add-card {
    height: 64px;
    margin-top: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--img-title {
      width: 330px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      p {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%;
      }
    }
    &--button {
      width: 223px;
      color: $secondary-color;
    }
  }
}
