@import '../../../sass/variables';
.containForm-cuenta {
  width: 798px;
  height: 389px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--InfoTitle {
    color: var(--white, #fff);
    text-align: center;
    font-family: $font-stack;
    font-size: $heading-2;
    font-style: normal;
    font-weight: 700;
    line-height: 117.682%;
  }
  &--containInfo {
    width: 798px;
    height: 168px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
  }
  &--containPassword {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 21px;
  }
  &--InfoPassword {
    color: var(--A---Color-4, #eeeaea);
    font-family: $font-stack;
    font-size: $heading-3;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; /* 21.375px */
    text-align: center;
  }
}
