@import '../../../../sass/variables';
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 20px;

  &--green {
    background: $primary-color;
    &__containButton {
      display: none;
    }
  }
  &--black {
    background: $secondary-color;
    &__containImage {
      width: 130px;
      height: 50px;
    }
    &__containButton {
      width: 290px;
    }
  }
}
