@import '@domains/cross/sass/_variables.scss';

@media (max-width: 398px) {
  .button-mobile {
    display: flex;
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .button-mobile {
    display: none;
  }
}

@media screen and (min-width: 835px) {
  .button-mobile {
    display: none;
  }
}
