@import '../../../../sass/variables';
@media (max-width: 398px) {
  .container-availableMoneyCard {
    width: 340px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__views {
      width: 170px;
      height: 16px;

      display: flex;
      flex-direction: row;

      margin-left: 162px;
    }
    &__title {
      width: 160px;
      height: 16px;
    }
    &__account {
      width: 207px;
      height: 53px;
      border-radius: 100px;
      border: 1px solid $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
