@import '@domains/cross/sass/variables';
@media (max-width: 398px) {
}
.mainForm-cuenta {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $secondary-color;

  &--container {
    margin-bottom: 300px;
    p {
      color: $quinary-color;
      text-align: center;
      font-family: $font-stack;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 117.682%;
    }
  }
  &--containInfo {
    width: 798px;
    height: 168px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 20px;
    column-gap: 60px;
    margin-bottom: 10px;
  }
  p:nth-of-type(2) {
    color: $quinary-color;
    font-family: $font-stack;
    font-size: 15.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; /* 21.375px */
  }

  &--containPassword {
    width: 798px;
    height: 168px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 20px;
    column-gap: 60px;
    margin-top: 10px;
  }
  span {
    width: 216px;
    height: 21px;
    color: #ee3838;
    text-align: left;
    font-family: 'Open Sans';
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 140.625%;
  }
  a {
    width: 100%;
  }
}
@media (max-width: 398px) {
  .mainForm-cuenta {
    &--container {
      margin-bottom: 220px;
      p {
      }
    }
    &--containInfo {
    }
    p:nth-of-type(2) {
    }

    &--containPassword {
    }
    span {
      a {
      }
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .mainForm-cuenta {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $secondary-color;

    &--container {
      margin-bottom: 300px;
      p {
        color: $quinary-color;
        text-align: center;
        font-family: $font-stack;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%;
      }
    }
    &--containInfo {
      width: 798px;
      height: 168px;
      margin-top: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      row-gap: 20px;
      column-gap: 60px;
      margin-bottom: 10px;
    }
    p:nth-of-type(2) {
      color: $quinary-color;
      font-family: $font-stack;
      font-size: 15.2px;
      font-style: normal;
      font-weight: 400;
      line-height: 140.625%; /* 21.375px */
    }

    &--containPassword {
      width: 798px;
      height: 168px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      row-gap: 20px;
      column-gap: 60px;
      margin-top: 10px;
    }
    span {
      width: 216px;
      height: 21px;
      color: #ee3838;
      text-align: left;
      font-family: 'Open Sans';
      font-size: 15px;
      font-style: italic;
      font-weight: 400;
      line-height: 140.625%;
    }
    a {
      width: 100%;
    }
  }
}
