@import '../../../../sass/variables';
@media (max-width: 398px) {
  .input-form-date {
    width: 100%;
    height: 60px;
    padding-top: 5px;
    border-top: 1px solid #cecece;

    &:last-child {
      border-bottom: 1px solid #cecece;
    }
    &__labelForm {
      color: var(--A---Color-1, #201f22);
      height: 22px;
      font-family: $font-stack;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &__inputForm {
      width: 100%;
      height: 22px;
      border: none;
      color: #cecece;
      font-size: 16px;

      &::placeholder {
        font-family: '$font-stack';

        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &__containImage {
      position: relative;

      rigth: 300px;

      bottom: 18px;
    }
  }
}

//tablet
@media (max-width: 834px) {
  .input-form-date {
    height: 40px;

    &__labelForm {
      color: var(--A---Color-1, #201f22);
      font-family: $font-stack;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &__inputForm {
      width: 100%;
      border: none;
      &::placeholder {
        color: var(--Fill-in, rgba(0, 0, 0, 0.5));
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &__containImage {
    }
  }
}

//desktop
.input-form-date {
  height: 60px;
  border-top: 1px solid #cecece;
  &:last-child {
    border-bottom: 1px solid #cecece;

    &__labelForm {
    }
    &__inputForm {
      width: 100%;
      border: none;
      &::placeholder {
        color: var(--Fill-in, rgba(0, 0, 0, 0.5));
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &__containImage {
    }
  }
}
