@import '../../../../sass/variables';
@media (max-width: 398px) {
  .containMoneyTransfer {
    width: 100%;
    height: 100%;

    padding: 18px 23px 19px 25px;

    &__containDescription {
      width: 100%;
      height: 35px;
      margin-bottom: 40px;
      p {
        color: var(--A---Color-4, #eeeaea);
        font-family: $font-stack;
        font-size: $heading-3;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__containItem {
      height: 144px;
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .containMoneyTransfer {
    padding: 40px 45px 40px 35px;
    height: 300px;

    &__containDescription {
      height: 40px;
      p {
        color: var(--A---Color-4, #eeeaea);
        font-family: $font-stack;
        font-size: $heading-3;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &__containItem {
      height: 144px;
      height: 165px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
@media screen and (min-width: 835px) {
  .containMoneyTransfer {
    padding: 20px 25px;
    &__containDescription {
      width: 926;
      height: 17px;
      p {
        color: var(--A---Color-4, #eeeaea);
        font-family: $font-stack;
        font-size: $heading-4;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &__containItem {
      height: 160px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
