@import '../../../../sass/variables';
@media (max-width: 384px) {
  .cardBlack {
    &--AvailableAmountCard {
      height: 160px;
    }

    &--AddCard {
    }

    &--MoneyTransfer {
      height: 259px;
    }
  }
}

@media (max-width: 834px) {
  .cardBlack {
    &--AvailableAmountCard {
    }

    &--AddCard {
    }

    &--MoneyTransfer {
      height: 300px;
    }
  }
}
.cardBlack {
  background-color: black;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  margin: 16px;
  &--AvailableAmountCard {
    height: 160px;
  }

  &--AddCard {
  }

  &--MoneyTransfer {
    height: 264px; // Default para desktop
    padding: 25px;
  }
}
