@import '../../../../sass/variables';

.cardBlack {
  background-color: black;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  margin: 16px;

  &--AvailableAmountCard {
    min-height: 160px;
    max-height: 230px;
  }

  &--AddCard {
    min-height: 147px;
    max-height: 167px;
  }

  &--MoneyTransfer {
    min-height: 346px;
    max-height: 350px;
  }
}
