@use '@domains/cross/sass/variables' as *;
@media (max-width: 398px) {
  .card-options {
    cursor: pointer;
    list-style-type: none;
    text-align: right;
    margin-left: 170px;
    margin-top: 10px;

    li {
      display: inline-block;
      a {
        margin-right: 10px;
        color: $quinary-color;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .card-options {
    cursor: pointer;
    list-style-type: none;
    text-align: right;
    margin-left: 192px;

    li {
      display: inline-block;
      a {
        margin-right: 10px;
        color: $quinary-color;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 835px) {
  .card-options {
    cursor: pointer;
    list-style-type: none;
    text-align: right;

    li {
      display: inline-block;
      a {
        margin-right: 10px;
        color: $quinary-color;
        text-decoration: underline;
      }
    }
  }
}
