.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;

  li {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #d1d1d1;
    }

    &.active {
      background-color: grey;
      color: white;
      font-weight: bold;
    }
  }

  .prev-button,
  .next-button {
    font-weight: bold;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
