@import '../../../../sass/variables';
.contain-home {
  width: 420px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 139px;
  margin-left: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; /* 104.167% */

  &--containTextPrimary {
    width: 418px;
    height: 134px;
    right: 25px;
    top: -3px;
    position: relative;
    p {
      text-align: left;
      color: $text-color-primary;
      font-family: $font-stack;
      font-size: $heading-6;
      letter-spacing: -1px;
    }
  }
  &--containTextSecond {
    width: 420px;
    height: 50px;
    right: 25px;
    top: 0px;
    position: relative;
    margin-top: 28px;
    p {
      text-align: left;
      color: $primary-color;
      font-family: $font-stack;
      font-size: $heading-7;

      .negrilla {
        font-weight: 700;
        line-height: 50px;
      }
    }
  }
}
