@import '../../../../sass/variables';
.contain-home {
  width: 411px;
  height: 213px;
  position: relative;
  top: 50px;
  margin-left: 50px;

  &--containTextPrimary {
    height: 134px;
    right: 50px;
    top: 0px;
    position: relative;

    p {
      text-align: left;
      color: $quinary-color;
      font-family: $font-stack;
      font-size: $heading-6;
      letter-spacing: -1px;
    }
  }
  &--containTextSecond {
    height: 50px;
    right: 49px;
    top: 20px;
    position: relative;
    margin-top: 28px;

    p {
      text-align: left;
      color: $primary-color;
      font-family: $font-stack;
      font-size: $heading-7;

      .negrilla {
        font-weight: 700;
        line-height: 50px;
      }
    }
  }
}
