@import '../../../sass/variables';
.mainContain-email {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $secondary-color;

  &--containForm {
    width: 360px;
    height: 330px;
    margin-bottom: 131px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--containText {
    margin-bottom: 40px;
    color: white;

    p {
      color: $quinary-color;
      text-align: center;
      /* A - Heading 2 */
      font-family: $font-stack;
      font-size: $heading-2;
      font-style: normal;
      font-weight: 700;
      line-height: 117.682%; /* 23.536px */
    }
  }
  &--containInput {
    width: 360px;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 398px) {
    .mainContainForm-email {
      &--containForm {
        height: 202px;
      }
    }
  }
}
