@import '../../../../sass/variables';
.moneyView {
  width: 170px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    font-family: $font-stack;
    color: $quinary-color;
  }
}
@media (max-width: 398px) {
  .moneyView {
    width: 170px;
    height: 22px;

    p {
      size: 22px;
      font-weight: 700;
      line-height: 33;
      font-family: $font-stack;
      color: $quinary-color;
    }
  }
}
