@import '../../../../../sass/variables';
//mobile
@media (max-width: 398px) {
  .header {
    height: 64px;
    background: #052a2d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: $secondary-color;

    &--green {
      background: $primary-color;
      &__containImage {
        width: 90px;
        height: 30px;
        margin-right: -10px;
      }
    }
    &--black {
      &__containImage {
        width: 90px; // Tama침o en pantallas peque침as
        height: 30px;
        margin-right: -10px;

        img {
          width: 63px;
          height: 25px;
        }
      }
    }
  }
}
//tablet
@media screen and (min-width: 399px) and (max-width: 834px) {
  .header {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background: $secondary-color;

    &--green {
      background: $primary-color;
      &__containButton {
        display: none;
      }
    }
    &--black {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: $secondary-color;

      &__containImage {
        width: 100px;
        height: 50px;

        img {
          height: auto; // Ajustar la altura autom치ticamente
        }
      }
      &__containButton {
        width: 290px;
        margin-right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
//desktop
@media screen and (min-width: 835px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 20px;
    background: $secondary-color;

    &--green {
      background: $primary-color;
      &__containButton {
        display: none;
      }
    }
    &--black {
      background: $secondary-color;
      &__containImage {
        width: 100px;
        height: 50px;
        margin-left: 20px;

        img {
          height: auto; // Ajustar la altura autom치ticamente
        }
      }
      &__containButton {
        width: 290px;
        margin-right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
