@import '../../../../sass/variables';

.cardBlack {
  background: black;
  margin: 16px 0px;
  border-radius: 8px; // Fondo negro para todas las clases hijas

  &--AvailableAmountCard {
    @media (max-width: 398px) {
      height: 160px;
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
      height: 230 px;
      margin: 16px 0px;
    }

    @media screen and (min-width: 835px) {
      height: 230px;
    }
  }

  &--AddCard {
    @media (max-width: 398px) {
      height: 147px;
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
      height: 147px;
    }

    @media screen and (min-width: 835px) {
      height: 167px;
    }
  }

  &--MoneyTransfer {
    @media (max-width: 398px) {
      height: 259px;
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
      height: 300px;
    }

    @media screen and (min-width: 835px) {
      height: 264px;
      padding: 25px;
    }
  }
  &--Detail {
    @media (max-width: 398px) {
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
    }

    @media screen and (min-width: 835px) {
      height: 337px;
    }
  }
}
