@import '../../../../sass/variables';

.cardBlack {
  background: black;
  margin: 16px 0px;
  border-radius: 8px; // Fondo negro para todas las clases hijas

  &--AvailableAmountCard {
    @media (max-width: 398px) {
      height: 160px;
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
      height: 230 px;
      margin: 16px 0px;
    }

    @media screen and (min-width: 835px) {
      height: 230px;
    }
  }

  &--AddCard {
    @media (max-width: 398px) {
      height: 147px;
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
      height: 147px;
    }

    @media screen and (min-width: 835px) {
      height: 167px;
    }
  }

  &--MoneyTransfer {
    @media (max-width: 398px) {
      height: 259px;
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
      height: 300px;
    }

    @media screen and (min-width: 835px) {
      height: 264px;
      padding: 25px;
    }
  }
  &--Detail {
    @media (max-width: 398px) {
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
      height: 426px;
    }

    @media screen and (min-width: 835px) {
      height: 337px;
    }
  }
  &--DepositMoney {
    @media (max-width: 398px) {
      height: 122px;
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
      height: 157px;
    }

    @media screen and (min-width: 835px) {
      height: 157px;
    }
  }
  &--SelectCard {
    @media (max-width: 398px) {
      height: 346px;
      padding: 20px;
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
      height: 532px;
      padding: 41px 28px 50px 54px;
    }

    @media screen and (min-width: 835px) {
      height: 453px;
      padding: 40px 43px 42px 57px;
    }
  }
  &--Account {
    @media (max-width: 398px) {
      height: 173px;
      padding: 14px 36px 36px 36px;
    }

    @media screen and (min-width: 399px) and (max-width: 834px) {
      height: 324px;
      padding: 24px 36px 36px 36px;
    }

    @media screen and (min-width: 835px) {
      height: 306px;
      padding: 38px 43px 36px 54px;
    }
  }
}
