@import '../../../../sass/variables';

@media (max-width: 398px) {
  .contain-card {
    width: 283px;
    height: 130px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Para que los elementos se alineen al final del contenedor */
  }
}
