@import '../../../../sass/variables';
@media (max-width: 398px) {
  .contain-avatar {
    display: flex;
    flex-direction: row;

    &--button {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 300px;
    }

    &--menu {
      display: block;
    }

    &.logged-in {
      .contain-avatar--button {
        display: none; // Ocultar botones cuando esté logueado
      }

      .slogan-avatar,
      .user-avatar {
        display: flex; // Asegurarse de que los avatares estén visibles
      }
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .contain-avatar {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    align-items: center;

    &--button {
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    &--menu {
      display: none;
    }
  }
}

@media screen and (min-width: 835px) {
  .contain-avatar {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    align-items: center;
    &--button {
      width: 300px;
      height: 40px;
      display: flex;
      justify-content: space-evenly;

      margin-right: 20px;
    }
    &--menu {
      display: none;
    }
    &.logged-in {
      .link {
        text-decoration: none;
      }
      .contain-avatar--button {
        display: none;

        .slogan-avatar,
        .user-avatar {
          display: flex;
        }
      }
    }
  }
}
