@import '../../../../sass/variables';
.login-btn.align-right {
  margin-left: auto;
}
@media (max-width: 398px) {
  .contain-avatar {
    display: flex;
    flex-direction: row;

    &--button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 262px;
      gap: 20px;
    }

    &--menu {
      display: block;
    }

    &.logged-in {
      .contain-avatar--button {
        display: none;
      }

      .slogan-avatar,
      .user-avatar {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .contain-avatar {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    align-items: center;

    &--button {
      // width: 300px;
      // display: flex;
      // flex-direction: row;
      // justify-content: space-between;
      // gap: 10px;
      // margin-right: 30px;
      display: none;
    }
    &--menu {
      display: none;
    }
    &.logged-in {
      .link {
        text-decoration: none;
      }
      .contain-avatar--button {
        display: none;

        .slogan-avatar,
        .user-avatar {
          display: flex;
        }
      }
    }
  }
}

@media screen and (min-width: 835px) {
  .contain-avatar {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    align-items: center;
    &--button {
      width: 300px;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }
    &--menu {
      display: none;
    }
    &.logged-in {
      .link {
        text-decoration: none;
      }
      .contain-avatar--button {
        display: none;

        .slogan-avatar,
        .user-avatar {
          display: flex;
        }
      }
    }
  }
}
