@import '../app/cross/sass/variables';

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../public/images/fondoDesktop.png');
  /* Ajusta la imagen para que toda se vea dentro del contenedor */
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen en el contenedor */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor sin distorsionar */
  background-attachment: fixed; /* Fija la imagen para que permanezca estática mientras se desplaza */
  &--contain-home {
    height: 512px;
  }
  &--section {
    width: 100%;
    height: 148px;
    border-radius: 30px 30px 0px 0px;
    background: $primary-color;
    position: fixed;
    bottom: 64px;
  }
  &--containInfo {
    display: flex;
    position: fixed;
    bottom: 93px;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 834px) {
  .home {
    &--contain-home {
      height: 400px;
    }
    &--section {
      height: 434px;
    }
    &--containInfo {
      width: 515px;
      height: 520px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      right: 161px;
      left: 161px;
    }
  }
}
@media (max-width: 398px) {
  .home {
    overflow-y: hidden;
    overflow-x: hidden;
    &--contain-home {
      height: 823px;
    }
    &--section {
      border-radius: 20px 20px 0px 0px;
      width: 398px;
      height: 329px;
    }
    &--containInfo {
      width: 354px;
      height: 400px;

      left: 16px;
    }
  }
}
