@media (max-width: 398px) {
  .service-buttons {
    margin: 16px 0px;
    width: 360px;
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .service-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 190px;
  }
}

@media screen and (min-width: 835px) {
  .service-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    height: 106px;
    margin: 16px 0px;
  }
}
