@import './variables';

html,
body,

/* Estilo global para todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* Hereda el box-sizing de html */
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}
