@import '../../../../sass/variables';

@media (max-width: 398px) {
  .contain-number {
    width: 262px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
