@import '@domains/cross/sass/variables';

.nameItem {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 15px;

  &__containImg {
    flex-shrink: 0;
  }

  &__nameCard {
    p {
      font-family: $font-stack;
      font-size: px;
      font-weight: 400;
      line-height: 1.5;
      margin: 0;
      text-align: left;
      word-break: break-word;
    }
  }
}

@media (max-width: 398px) {
  .nameItem {
    &__nameCard {
      p {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 399px) and (max-width: 834px) {
  .nameItem {
    &__nameCard {
      p {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 835px) {
  .nameItem {
    &__nameCard {
      p {
        font-size: 16px;
      }
    }
  }
}
