@import '../../../../sass/variables';

.contain-Item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-top: 1px solid #cecece;
  &:last-child {
    border-bottom: 1px solid #cecece;
  }
}
@media (max-width: 398px) {
  .contain-Item {
    &:last-child {
    }
  }
}
