@use '@domains/cross/sass/variables' as *;

.main-successRegister {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $secondary-color;
  &--contain-successRegister {
    width: 470px;
    height: 402px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 109px;
  }
  &--containButton {
    width: 364px;
    height: 64px;
  }
  &--contain-info {
    height: 273px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    p:first-of-type {
      color: $quinary-color;
      text-align: center;
      font-family: $font-stack;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 140.625%; /* 90px */
    }

    p:nth-of-type(2) {
      color: $quinary-color;
      text-align: center;
      /* A - Text 1 */
      font-family: $font-stack;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 32px;
    }
    &__contain-image {
      margin-top: 30px;
    }
  }
}

@media (max-width: 398px) {
  .main-successRegister {
    overflow-y: hidden;
    &--contain-successRegister {
      width: 330px;
      height: 339px;
    }
    &--containButton {
      width: 300px;
      height: 50px;
    }
    &--contain-info {
      p:first-of-type {
        font-size: 34px;
        height: 74px;
      }
      &--containTex {
        p:nth-of-type(2) {
          font-size: 14px;
        }
      }
    }
  }
}
