@import '../../../../sass/variables';

.cardView {
  :hover {
    cursor: pointer;
  }
  p {
    color: $quinary-color;
    text-decoration: underline;
  }
}

@media (max-width: 398px) {
  .cardView {
    width: 103px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    :hover {
      cursor: pointer;
    }
    p {
      size: 12px;
      font-family: $font-stack;
      color: $quinary-color;
      text-decoration: underline;
    }
  }
}
