@use '../../../../../sass/variables' as *;

.contain-home {
  width: 388px;
  height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 50px;
  margin-left: 50px;

  &--containTextPrimary {
    right: 50px;
    top: 0px;
    position: relative;

    p {
      text-align: left;
      color: $quinary-color;
      font-family: $font-stack;
      font-size: $heading-6;
      font-weight: 400;
      line-height: 50px; /* 104.167% */
    }
  }
  &--containTextSecond {
    right: 50px;
    top: 20px;
    position: relative;

    p {
      text-align: left;
      color: $primary-color;
      font-family: $font-stack;
      font-size: $heading-7;

      .negrilla {
        font-weight: 700;
        line-height: 50px;
      }
    }
  }
}
@media (max-width: 398px) {
  .contain-home {
    width: 159px;
    height: 250px;
    margin-left: 40px;
    top: 23px;

    &--containTextPrimary {
      width: 100%;
      height: 152px;

      right: 40px;
      top: -18px;

      p {
        font-size: 27px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
      }
    }
    &--containTextSecond {
      height: 65px;
      width: 100%;

      right: 40px;
      top: 18px;
      p {
        font-size: 21.5px;
        font-weight: 400;

        .negrilla {
          line-height: 30.5px;
        }
      }
    }
  }
}
