@use '@domains/cross/sass/variables' as *;
@media (max-width: 398px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    Button {
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    Button {
      width: 233px;
    }
  }
}

@media screen and (min-width: 835px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    Button {
      width: 233px;
    }
  }
}
