@import '../../../../sass/variables';
@media (max-width: 398px) {
  .contain-Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    border-top: 1px solid #cecece;
    &:last-child {
      border-bottom: 1px solid #cecece; // Borde inferior solo para el último elemento
    }
  }
}
