.prompt-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  height: 64px;

  &--container {
    margin-bottom: 16px;
  }
  &--container-img {
    width: 14.919px;
    height: 16.119px;
    flex-shrink: 0;
    position: relative;
    border: 2px solid #f1d2ff;
    right: 362px;
  }
  &__large-prompt {
    width: 813px;
    border: 1px solid var(--B--Color-3, #d2ffec);
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    &:focus-visible {
      outline: 2px solid #d2ffec;
    }
  }
  &__medium-prompt {
    width: 350px;
    border: 1px solid var(--B--Color-3, #d2ffec);
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    &:focus-visible {
      outline: 2px solid #d2ffec;
    }
  }
  &__small-Prompt {
    width: 318px;
    border: 1px solid var(--B--Color-3, #d2ffec);
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    &:focus-visible {
      outline: 2px solid #d2ffec;
    }
  }
}
