@import '../../../../sass/variables';
@media (max-width: 398px) {
  .contain-history-cards {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
