@import '@domains/cross/sass/_variables.scss';
@media screen and (min-width: 398px) {
  .filter-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__input {
      input {
        height: 64px;
        width: 100%;
        padding: 8px 12px;
        border-radius: 8px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid var(--B--Color-3, #d2ffec);
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
        &:focus {
          outline: none;
        }
      }
    }

    &__button {
      display: none;
      button {
        img {
          display: inline-block;
        }
      }
    }
  }
}
/* Tablet */
@media screen and (min-width: 399px) and (max-width: 834px) {
  .filter-form {
    height: 64px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    &__input {
      flex: 1;

      input {
        height: 64px;
        padding: 0 40px;
        border-radius: 8px;
      }
    }

    &__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      border-radius: 8px;

      button {
        border: none;
        border-radius: 8px;
        width: 172px;
        height: 64px;
        background: $primary-color;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: 835px) {
  .filter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    &__input {
      flex: 1;

      input {
        height: 64px;
        padding: 0 40px;
        border-radius: 8px;
      }
    }

    &__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      border-radius: 8px;

      button {
        border: none;
        border-radius: 8px;
        width: 172px;
        height: 64px;
        background: $primary-color;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
