.creditCard {
  box-sizing: border-box;
  cursor: pointer;
  margin: 26px;
  height: 174px;
  padding-top: 43px;
  border-radius: 8px;

  /* Variantes para la tarjeta */
  &--cardEmpty {
    background: #eeeaea;
  }

  &--cardFilled {
    color: white; /* Texto blanco */
  }

  &--grey {
  }

  &--black {
    background-color: black; /* Fondo negro para la tarjeta negra */
  }
}
