@import '@domains/cross/sass/_variables.scss';

/* ==================== */
/* ESTILOS BASE (MOBILE FIRST) */
/* ==================== */
.cardActivity {
  margin: 0;
  background-color: white;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  /* Elementos comunes */
  .contain-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    p {
      font-family: $font-stack;
      color: #201f22;
      font-size: $heading-2;
      font-weight: 700;
      line-height: 1.38;
      margin: 0;
    }
  }

  .content {
    height: auto;
  }

  .contain-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    p {
      font-family: $font-stack;
      font-size: $heading-3;
      font-weight: 700;
      line-height: 1.2;
      margin: 0;
    }
  }

  /* Variantes */
  &--Activity {
    height: auto;
  }

  &--HistoryCard {
    height: auto;
  }

  &--ProfileData {
    height: 277px;
  }

  &--Services {
    width: auto;
    margin-top: 20px;
  }

  /* Botón móvil (oculto por defecto) */
  .mobile-only-button {
    display: none;
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-family: $font-stack;
    font-size: $heading-3;
    font-weight: 600;
    line-height: 16px;
  }
}

/* ==================== */
/* MEDIA QUERIES */
/* ==================== */

/* Pantallas pequeñas (hasta 398px) */
@media (max-width: 398px) {
  .cardActivity {
    .contain-header {
      height: auto;
      width: 100%;
      margin-bottom: 22px;

      .mobile-only-button {
        display: inline-block; /* Muestra el botón solo en móviles */
      }
    }

    &--ProfileData {
      height: 381px;
    }
  }
}

/* Tablets (399px a 834px) */
@media (min-width: 399px) and (max-width: 834px) {
  .cardActivity {
    &--HistoryCard {
      margin-bottom: 20px;
    }

    .contain-footer {
      margin-top: 10px;
    }
  }
}

/* Desktop (835px en adelante) */
@media (min-width: 835px) {
  .cardActivity {
    &--HistoryCard {
      padding: 30px 38px 32px 41px;
    }

    &--ProfileData {
      padding: 22px 54px 32px 32px;
    }

    &--Services {
      margin: 20px 0 50px 0;
      padding: 23px 40px 0 42px;
    }
  }
}
