@import '../../../../sass/variables';

@media (max-width: 398px) {
  .cardActivity {
    margin: 0px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &--Activity {
      height: auto;
    }
    &--HistoryCard {
      height: 219px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .contain-header p {
      font-family: $font-stack;
      color: var(--A---Color-1, #201f22);
      font-size: $heading-2;
      font-weight: 700;
      line-height: 138.182%;
      margin-bottom: 22px;
    }
    .content {
      height: auto;
    }
    .contain-footer p {
      font-family: $font-stack;
      font-size: $heading-3;
      font-weight: 700;
      line-height: 16.34px;
      text-align: left;
    }

    &--ProfileData {
      height: 381px;
    }
    &--Services {
      width: auto;

      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .cardActivity {
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &--Activity {
      height: auto;
    }

    &--HistoryCard {
      height: 219px;
      overflow-y: scroll;
    }

    &--ProfileData {
      height: 277px;
    }
    &--Services {
      width: auto;

      margin-top: 20px;
    }
    .contain-header p {
      color: var(--A---Color-1, #201f22);
      font-size: $heading-2;
      font-weight: 700;
      line-height: 138.182%;
    }

    .contain-footer {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        font-family: $font-stack;
        font-size: $heading-3;
        font-weight: 700;
        line-height: 16.34px;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 835px) {
  .cardActivity {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .contain-header {
      margin-bottom: 20px;
      p {
        font-family: $font-stack;
        color: var(--A---Color-1, #201f22);
        font-size: $heading-2;
        font-weight: 700;
        line-height: 138.182%;
      }
    }

    .content {
      height: auto;
    }

    .contain-footer {
      height: 20px;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        font-family: $font-stack;
        font-size: $heading-3;
        font-weight: 700;
        line-height: 16.34px;
        text-align: left;
      }
    }

    // Estilos de variantes
    &--Activity {
      width: auto;
    }

    &--HistoryCard {
      height: 219px;
      padding: 30px 38px 32px 41px;
      overflow-y: scroll;
    }

    &--ProfileData {
      height: 277px;
      padding: 22px 54px 32px 32px;
    }
    &--Services {
      width: auto;
      margin: 20px 0px 50px 0px;
      padding: 23px 40px 0px 42px;
    }
  }
}
