@import '../../../../sass/variables';
@media (max-width: 398px) {
  .name-card {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    &__containImg {
      margin-right: 10px;
    }
    &__nameActivity {
      p {
      }
    }
  }
}
@media screen and (min-width: 399px) and (max-width: 834px) {
  .name-card {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    &__containImg {
      margin-right: 10px;
    }
    &__nameActivity {
      p {
      }
    }
  }
}
@media screen and (min-width: 835px) {
  .name-card {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    &__containImg {
      margin-right: 10px;
    }
    &__nameActivity {
      width: 160px;
      height: 19px;
      p {
        font-family: $font-stack;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
      }
    }
  }
}
