@use '../../../../sass/variables' as *;

@media (max-width: 398px) {
  .contain-menu {
    width: 100%;
    height: 93%;
    position: absolute;
    background: $primary-color;
    right: 0px;
    top: 0px;
    z-index: 1000;
    &--containClose {
      width: 100%;
      height: 40px;
      padding: 10px;
      background: $secondary-color;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: end;

      cursor: pointer;
      Image {
      }
    }

    &--containProfile {
      width: 100%;
      height: 100px;
      background: $secondary-color;
    }
    &--contain-list {
      margin: 50px 40px;
      width: 140px;
      height: 240px;
      ul {
        list-style: none;
        padding: 0;
        margin-top: 126px;
      }
      li {
        margin-bottom: 16px;
        a {
          text-decoration: none;
          color: #000;
          font-family: $font-stack;
          font-size: 17px;
          &:hover {
            text-decoration: underline;
          }
        }
        &.selected a {
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
}

//tablet
@media screen and (min-width: 399px) and (max-width: 834px) {
  .contain-menu {
    width: 276px; /* Fija el ancho del menú */
    height: 100vh; /* Ocupa toda la altura */
    background: $primary-color;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Añade un ligero borde para separar visualmente */
    &--containClose {
      display: none;

      cursor: pointer;
      Image {
      }
    }
    &--containProfile {
      display: none;
    }
    &--contain-list {
      margin: 50px 40px;
      width: 140px;
      height: 240px;

      ul {
        list-style: none;
        padding: 0;
      }
      li {
        margin-bottom: 16px;
        a {
          text-decoration: none;
          color: #000;
          font-family: $font-stack;
          font-size: 17px;
          &:hover {
            text-decoration: underline;
          }
        }
        &.selected a {
          font-weight: bold; /* Pone el ítem en negrita */
          color: #000; /* Asegura que el texto seleccionado tenga el color primario */
        }
      }
    }
  }
}

@media screen and (min-width: 835px) {
  .contain-menu {
    width: 276px; /* Fija el ancho del menú */
    height: 100vh; /* Ocupa toda la altura */
    background: $primary-color;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Añade un ligero borde para separar visualmente */
    &--containClose {
      display: none;
      Image {
      }
    }
    &--containProfile {
      display: none;
    }
    &--contain-list {
      margin: 50px 40px;
      width: 140px;
      height: 240px;

      ul {
        list-style: none;
        padding: 0;
      }
      li {
        margin-bottom: 16px;
        a {
          text-decoration: none;
          color: #000;
          font-family: $font-stack;
          font-size: 17px;
          &:hover {
            text-decoration: underline;
          }
        }
        &.selected a {
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
}
