@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

$font-stack: 'Roboto', sans-serif;
$heading-1: 24px;
$heading-2: 20px;
$heading-3: 16px;
$heading-4: 14px;
