@import '@domains/cross/sass/_variables.scss';

@media (max-width: 398px) {
  .detail-transaction {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 27px 29px 33px 31px;
    height: 342px;

    &__statusDetail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      width: 298px;
      height: 84px;
      padding-bottom: 10px;

      &--statusInfo {
        display: flex;
        justify-content: space-between;
        width: 122px;

        img {
        }

        .status-title {
          color: $primary-color;
          font-family: 'Open Sans';
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
        }
      }

      .status-date {
        color: $quinary-color;
        font-family: '$font-stack';
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        height: 30px;
        width: 100%;
        border-top: 1px solid white;
        padding-top: 12px;
      }
    }

    &__transferSummary,
    &__approvalDetail,
    &__recipientDetail {
      margin-bottom: 7px;
      .summary-title {
        color: #fff;
        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px;
      }

      .summary-amount {
        color: $primary-color;

        font-family: '$font-stack';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%;
      }

      .recipient-title {
        color: #fff;
        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .recipient-amount {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 8px;
      }
      .approval-title {
        color: #fff;

        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .approval-amount {
        color: $primary-color;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 8px;
      }
    }
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .detail-transaction {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 22px 55px 65px;
    height: 427px;

    &__statusDetail {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;

      border-bottom: 1px solid white;
      height: 110px;
      padding-bottom: 24px;

      &--statusInfo {
        display: flex;
        justify-content: space-between;
        width: 122px;

        img {
        }

        .status-title {
          color: $primary-color;
          font-family: 'Open Sans';
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
          margin-bottom: 8px;
        }
      }

      .status-date {
        color: $quinary-color;
        font-family: '$font-stack';
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-left: 113px;
      }
    }

    &__transferSummary,
    &__approvalDetail,
    &__recipientDetail {
      .summary-title {
        color: #fff;
        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px;
      }

      .summary-amount {
        color: $primary-color;

        font-family: '$font-stack';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%;
      }

      .recipient-title {
        color: #fff;
        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .recipient-amount {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 7px;
      }
      .approval-title {
        color: #fff;

        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .approval-amount {
        color: $primary-color;

        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 8px;
      }
    }
  }
}

@media screen and (min-width: 835px) {
  .detail-transaction {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 33px 45px 36px 62px;

    height: 337px;
    &__statusDetail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;

      border-bottom: 1px solid white;
      height: 46px;

      &--statusInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 122px;

        img {
          width: 22px;
          height: 22px;
        }

        .status-title {
          color: $primary-color;
          font-family: 'Open Sans';
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
        }
      }

      .status-date {
        color: $quinary-color;
        font-family: '$font-stack';
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__transferSummary,
    &__approvalDetail,
    &__recipientDetail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .summary-title {
        color: #fff;
        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .summary-amount {
        color: $primary-color;

        font-family: '$font-stack';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 117.682%;
      }

      .recipient-title {
        color: #fff;
        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .recipient-amount {
        color: $primary-color;
        font-family: '$font-stack';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .approval-title {
        color: #fff;

        font-family: '$font-stack';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .approval-amount {
        color: $primary-color;

        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
